// Font
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Medium.otf");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../assets/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir Roman";
  src: url("../assets/fonts/AvenirLTStd-Roman.otf");
}

// Variables
$primary: #e9707d;
$secondary: #f7ca02;
$light: #f1f2f6;
$lightDark: #b4b4b4;
$lightDark2: #838383;
$dark: #242a37;
$white: #ffffff;
$black: #000000;

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: $light;
  color: $primary;
  font-weight: bold;
  border-radius: 12px;
  padding: 13px;
}
