.transition-fade {
  transition: 0.8s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-200px);
}

.transition-top {
  transition: 0.8s;
  transform: translateY(0px);
}

html.is-animating .transition-top {
  opacity: 0;
  transform: translateY(-100px);
}
