@import "./global";
@import "./page_animations";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Book";
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  // background: $light;
  .search-box {
    outline: none;
    max-width: 75%;
    min-width: 20%;
    width: 75%;
    background: $white;
    padding: 15px;
    font-size: 0.9rem;
    color: $dark;
    border-radius: 12px;
    margin-bottom: 15px;
    border: 2px solid $light;
  }
  & :focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  & ::placeholder {
    color: $lightDark;
  }
  .search-btn {
    width: 130px;
    font-size: 1rem;
    background: $primary;
    color: $white;
    box-shadow: 0 1px 6px 0 $primary;
  }
}

.title-search-container {
  display: flex;
  padding: 15px;
  background: $white;
  .search-box {
    outline: none;
    border: none;
    width: 90%;
    height: 15px;
    background: $light;
    padding: 15px;
    font-size: 0.9rem;
    color: $dark;
    border-radius: 12px;
  }
  & ::placeholder {
    color: $lightDark;
  }
  .search-clear-btn {
    background: $white;
  }
}

.advance-search-container {
  background: $light;
  .header {
    color: $dark;
    font-size: 1.2em;
    font-weight: bolder;
  }
  .hot-searches {
    padding: 0px 15px;
  }
}
.tag-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  margin-bottom: 15px;
  .tag {
    cursor: pointer;
    background: $white;
    color: $lightDark;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    &:active {
      background: $primary;
      color: $white;
    }
  }
  .tag-active {
    background: $primary;
    color: $white;
  }
}

.blog-card {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 250px;
  margin: 15px auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 450ms ease-out 0s;
  overflow: hidden;
  .blog-img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    overflow: hidden;
  }
  &:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.text-overlay {
  position: relative;
  background: $white;
  width: 100%;
  height: 40%;
  top: 77%;
  box-shadow: 0 -2px 12px rgba($black, 0.2);
  padding: 10px 12px;
  overflow: hidden;
  transition: all 450ms ease-in-out 0s;
  h2 {
    color: $dark;
    margin: 0;
    font-size: 1em;
  }
  .category {
    color: $lightDark2;
    font-weight: bolder;
  }
}
