@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "Avenir Book";
  src: url("../assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("../assets/fonts/AvenirLTStd-Roman.otf");
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: #f1f2f6;
  color: #e9707d;
  font-weight: bold;
  border-radius: 12px;
  padding: 13px;
}

.transition-fade {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.transition-top {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

html.is-animating .transition-top {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Book";
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.search-container .search-box {
  outline: none;
  max-width: 75%;
  min-width: 20%;
  width: 75%;
  background: #ffffff;
  padding: 15px;
  font-size: 0.9rem;
  color: #242a37;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 2px solid #f1f2f6;
}

.search-container :focus {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.search-container ::-webkit-input-placeholder {
  color: #b4b4b4;
}

.search-container :-ms-input-placeholder {
  color: #b4b4b4;
}

.search-container ::-ms-input-placeholder {
  color: #b4b4b4;
}

.search-container ::placeholder {
  color: #b4b4b4;
}

.search-container .search-btn {
  width: 130px;
  font-size: 1rem;
  background: #e9707d;
  color: #ffffff;
  -webkit-box-shadow: 0 1px 6px 0 #e9707d;
          box-shadow: 0 1px 6px 0 #e9707d;
}

.title-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background: #ffffff;
}

.title-search-container .search-box {
  outline: none;
  border: none;
  width: 90%;
  height: 15px;
  background: #f1f2f6;
  padding: 15px;
  font-size: 0.9rem;
  color: #242a37;
  border-radius: 12px;
}

.title-search-container ::-webkit-input-placeholder {
  color: #b4b4b4;
}

.title-search-container :-ms-input-placeholder {
  color: #b4b4b4;
}

.title-search-container ::-ms-input-placeholder {
  color: #b4b4b4;
}

.title-search-container ::placeholder {
  color: #b4b4b4;
}

.title-search-container .search-clear-btn {
  background: #ffffff;
}

.advance-search-container {
  background: #f1f2f6;
}

.advance-search-container .header {
  color: #242a37;
  font-size: 1.2em;
  font-weight: bolder;
}

.advance-search-container .hot-searches {
  padding: 0px 15px;
}

.tag-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 15px;
  margin-bottom: 15px;
}

.tag-container .tag {
  cursor: pointer;
  background: #ffffff;
  color: #b4b4b4;
  font-weight: bolder;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.tag-container .tag:active {
  background: #e9707d;
  color: #ffffff;
}

.tag-container .tag-active {
  background: #e9707d;
  color: #ffffff;
}

.blog-card {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 250px;
  margin: 15px auto;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  overflow: hidden;
}

.blog-card .blog-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  overflow: hidden;
}

.blog-card:hover {
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.text-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 40%;
  top: 77%;
  -webkit-box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  overflow: hidden;
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
}

.text-overlay h2 {
  color: #242a37;
  margin: 0;
  font-size: 1em;
}

.text-overlay .category {
  color: #838383;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */